<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
		integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
	<title>Job Listing - Alysson Goveia 2017366</title>
</head>

<body>


    <h1 class="blockquote text-center h1">Job Listing</h1>

	<div class="container">
		<div id="accordion">
			<%
        data.forEach(function (job){ %>
			<div class="card">
				<div class="card-header" id="job-<%= job._id %>">
					<h5 class="mb-0">
						<button class="btn btn-link" data-toggle="collapse" data-target="#item-<%= job._id %>" aria-expanded="true" aria-controls="collapse-<%= job._id %>">
          <%= job.Title %> in <%= job.Location %>
        </button>
					</h5>
				</div>
			</div>
			<div id="item-<%= job._id %>" class="collapse" aria-labelledby="heading-<%= job._id %>"
				data-parent="#accordion">
				<div class="card-body">
					<%= job.Keywords %> <br> <%= job.Description %> </div>
					<div class="row">
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-job-<%= job._id %>">Update</button>

						<form enctype="application/json" action="/delete" method="POST">
							<input hidden="true" name="id" value="<%= job._id %>">
							<button type="submit" class="btn btn-secondary">Delete</button>
						</form>
					</div>
					<div class="modal fade" id="modal-job-<%= job._id %>" tabindex="-1" role="dialog"
						aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="label-job-<%= job._id %>">Updating <%= job.Title %></h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
								</div>
								<div class="modal-body">
									<form enctype="application/json" action="/update" method="POST">
										<div class="form-group">
											<label for="jobTitle">Job Title</label>
											<input required="true" class="form-control" id="jobTitle" name="Title" value="<%= job.Title %>" placeholder="Enter job title">
										</div>
											<div class="form-group">
												<label for="jobLocation">Location</label>
												<input class="form-control" id="jobLocation" name="Location" value="<%= job.Location %>" placeholder="Enter job location">
										    </div>
												<div class="form-group">
													<label for="jobKeywords">Keywords</label>
													<textarea value="<%= job.Keywords %>" name="Keywords" class="form-control" id="jobKeywords" rows="3"><%= job.Keywords %></textarea>
													<small id="helper" class="form-text text-muted">Keywords separated by commas.</small>

												</div>
												<div class="form-group">
													<label for="jobDescription">Description</label>
													<textarea value="" class="form-control" name="Description" id="jobDescription" rows="3"><%= job.Description %></textarea>
												</div>


												<input hidden="true" name="id" value="<%= job._id %>">
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
													<button type="submit" class="btn btn-primary">Save changes</button>
												</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<% 
                // The for each function finishes here
        }); %>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
		</script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
			integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
		</script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
			integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous">
		</script>
</body>

</html>